.btn-feed-sbmt-certification{
    background-color: green;
    color: white;
    width: 100%;
    border: none;
    padding: 14px 10px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;

}
.btn-feed-sbmt-certification:hover{
    background-color: rgb(255, 255, 255);
    color: green;
    width: 100%;
    border: none;
    border: 2px solid green ;
    padding: 14px 10px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;

}