html, body, #root {
  height: 100%;
  margin: 0;

 
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  height: 100%;
  background-color: #f8f8f8;
}
.Whatsapp-icon{
  position: fixed;
  top: 86%;
  left: 92%;
  z-index: 9999999;
}
.Whatsapp-icon img{
  width: 65px;
  height: 65px;
}
.contant-app{
  padding-top: 10%;
}


.main-content {
  display: flex;
 flex: 1;
}

@media screen and (max-width : 768px) {
  .Whatsapp-icon{
  position: fixed;
  top: 92%;
  left: 80%;
  z-index: 9999999;
}
.Whatsapp-icon img{
  width: 45px;
  height: 45px;
}
}




