.tooltip-wrapper {
  position: relative;
  display: inline-block;
  margin-right: -1rem;
  z-index: 90;
}

.tooltip-box {
  position: absolute;
  top: -4rem;
  left: -50%;
  transform: translateX(-50%);
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: black;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.tooltip-line {
  position: absolute;
  bottom: -1px;
  height: 1px;
}

.line-emerald {
  left: 40%;
  width: 20%;
  background: linear-gradient(to right, transparent, #10b981, transparent);
}

.line-sky {
  left: 25%;
  width: 40%;
  background: linear-gradient(to right, transparent, #0ea5e9, transparent);
}

.tooltip-name {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  z-index: 2;
}

.tooltip-designation {
  font-size: 0.75rem;
  color: white;
  z-index: 2;
}

.tooltip-avatar {
  position: relative;
  margin: 0 !important;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  object-position: top;
  transition: transform 0.3s ease, z-index 0.3s ease;
}

.tooltip-wrapper:hover .tooltip-avatar {
  transform: scale(1.05);
  z-index: 30;
}
