/* Base styles */
.footer {
  position: relative;
  width: 100%;
  min-height: 200px;
  background-color: #0b0e1a;
  overflow: hidden;
}

.boxes {
  height: 100%;
  width: 100%;
}

/* Mobile Optimization */
/* Base styles already assumed present here */

@media (max-width: 750px) {
 

  .box {
    aspect-ratio: 1 / 1;
    border-radius: 0px;
    box-shadow: 0 0 10px black;
    box-shadow: none;
    transition: none;
  }
}

